In [1]:
import numpy as np
from scipy import stats
student_scores=np.array([72,89,65,73,79,84,63,76,85,75])
mu=70

In [3]:
t_stat,p_value=stats.ttest_1samp(student_scores,mu)
print("t-statistic:",t_stat)
print("p-value:",p_value)

t-statistic: 2.2894683580127317
p-value: 0.047816221110566944

In [4]:
alpha=0.05
if p_value<alpha:
    print("Reject the null hypothesis")
else:
    print("Accept null hypothesis")

Reject the null hypothesis

In [5]:
data_group1=np.array([10,12,14,16,18])
data_group2=np.array([9,11,13,15,17])

In [7]:
from scipy.stats import ttest_ind
t_statitics,p_value=ttest_ind(data_group1,data_group2,equal_var=True)

In [8]:
t_statitics,p_value

(0.5, 0.6305360755569764)

In [9]:
print(f"Two -sample T-SET(equal_var)")
print(f"T-statistics:{t_statitics:.5f}")
print(f"P-statistics:{p_value:.5f}")

Two -sample T-SET(equal_var)
T-statistics:0.50000
P-statistics:0.63054

In [11]:
alpha=0.05
if p_value<alpha:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Accept the null hypothesis